.head {
  background-color: #999679;
  border: 1px solid rgb(50, 100, 75);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.cyb-title:hover {
    animation: shake-it 0.5s reverse infinite
        cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes shake-it {
    0% {
        text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
    }
    25% {
        text-shadow: -2px 0 rgba(0, 255, 255, 0.5), 2px 0 rgba(255, 0, 0, 0.5);
    }
    50% {
        text-shadow: -5px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
    }
    100% {
        text-shadow: 3px 0 rgba(0, 255, 255, 0.5), 5px 0 rgba(255, 0, 0, 0.5);
    }
}

.open-book {
    background: #DFEFE9;
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
    color: #1F1F1F;
    padding: 3em;
}

.open-book * {
    position: relative;
  
}
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #B4F9E2;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #B4F9E2;
  text-decoration: none;
} 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-family: sans-serif;
  text-decoration: none;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: notsticky;
  top: 0;
  z-index: 999;
  text-decoration: none;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
}
#navbar__logo {
  background-color: #691711;
  background-image: linear-gradient(to top, #176170 20%, #ffb199 90%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  text-decoration: none;
}
.navbar__item {
  height: 80px;
  text-decoration: none;
}

.navbar__links {
  color: #fdfbe7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fdfbe7;
}
.button:hover {
  background: #722DBE;
  transition: all 0.3s ease;
  text-decoration: none;
}
.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
    text-decoration: none;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fdfbe7;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    text-decoration: none;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }


  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}




/*- Main Cntnt -*/

.main {
  background-color: #141414;
}
.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #131313;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}
.main__content {
  color: #fceacf;
  width: 100%;
  text-decoration: none;
}
.main__content h1 {
  font-size: 4rem;
  background-color: #691711;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main__content h2 {
  font-size: 4rem;
  margin-top: 10px;
  background-color: #691711;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #97D2C2 0%, #131313 10%);
  padding: 1px 10px;
  border: none;
  border-radius: 10px;
  color: #fdfbe7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  text-decoration: none;
  outline: none;
}
.main__btn a {
  position: relative;
  z-index: 2;
  color: #F0EED4;
  text-decoration: none;
}
.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #77322D;
  transition: all 0.35s;
  text-decoration: none;
  border-radius: 4px;
}
.main__btn:hover {
  color: #fdfbe7;
  text-decoration: none;
}
.main__btn:hover:after {
  width: 100%;
  text-decoration: none;
}

.cyber-btn-border {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 85% 100%, 9% 100%, 0 70%);
  background-color: #2E7378;
  min-width: 150px;
  height: 50px;
}

.cybr-btn-ghost {
  --primary: hsl(var(--primary-hue), 83%, calc(var(--primary-lightness, 51) * 1%));
  --shadow-primary: hsl(var(--shadow-primary-hue), 99%, 0%);
  --primary-hue: 0,10%;
  --primary-lightness: 0;
  --color: hsl(0, 20%, 100%);
  --font-size: 14px;
  --shadow-primary-hue: 250;
  --shadow-secondary-hue: 119;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 70%);
  --clip: polygon(0 0, 100% 0, 99% 100%, 99% 100%, 100% 100%, 100% 100%, 85% 99%, 9% 99%, 0 71%);
  --border: 1px; 
  --shimmy-distance: 2;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 9% 95%, 0 71%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 9% 100%, 0 79%);
  --clip-three: polygon(0 42%, 99% 41%, 99% 53%, 95% 53%, 95% 53%, 85% 57%, 85% 55%, 9% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 9% 0, 0 0);
  --clip-five: polygon(0 0, 99% 0, 99% 0, 95% 0, 95% 0, 83% 0, 83% 0, 9% 0, 0 0);
  --clip-six: polygon(0 39%, 99% 42%, 99% 83%, 97% 87%, 97% 83%, 83% 83%, 85% 85%, 9% 85%, 0 71%);
  --clip-seven: polygon(0 65%, 99% 61%, 99% 81%, 93% 81%, 93% 81%, 87% 81%, 83% 81%, 9% 80%, 0 75%);
  font-family: calibri;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 1px;
  position: relative;
  font-weight: 600;
  border: 0px;
  min-width: 125px;
  height: 40px;
  line-height: 40px;
  transition: background 0.2s;
}

.cybr-btn-ghost:hover {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}
.cybr-btn-ghost:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.cybr-btn-ghost:after,
.cybr-btn-ghost:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn-ghost:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 1);
}

.cybr-btn-ghost:after {
  background: var(--primary);
}


.cybr-btn-ghost__glitch {
  position: absolute;
  top: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn-ghost:hover .cybr-btn-ghost__glitch {
  display: block;
}

.cybr-btn-ghost__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn-ghost:nth-of-type(2) {
  --primary-hue: 260;
}

.main__img--container {
  text-align: center;
}
#main__img {
  height: 80%;
  width: 80%;
}
/*- Mobile Rspnsv -*/
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }
  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }
  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 3rem;
  }
  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
/*- Services Sctn -*/
.services {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.services h1 {
  background-color: #2a9ab2;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}
.services__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/-нон-.jpg');
  background-size: cover;
  position: relative;
  color: #fdfbe7;
}
.services__card:before {
  opacity: 0.2;
}
.services__card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.9) 100%
    ),
    url('/images/-нон2-.jpg');
}
.services__card h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}
.services__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}
.services__card button {
  color: #fdfbe7;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
}
.services__card button:hover {
  cursor: pointer;
}
.services__card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .services {
    height: 1600px;
  }
  .services h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}
@media screen and (max-width: 480px) {
  .services {
    height: 1400px;
  }
  .services h1 {
    font-size: 1.2rem;
  }
  .services__card {
    width: 300px;
  }
}
/*- Footer Stl -*/
.footer__container {
  background-color: #141414;
  padding: 0rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#footer__logo {
  color: #fdfbe7;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.footer__link--wrapper {
  display: flex;
}
.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}
.footer__link--items h2 {
  margin-bottom: 16px;
}
.footer__link--items > h2 {
  color: #fdfbe7;
}
.footer__link--items a {
  color: #fdfbe7;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}
/*- Social Icns -*/
.social__icon--link {
  color: #fdfbe7;
  font-size: 24px;
}
.social__media {
  max-width: 1000px;
  width: 100%;
}
.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}
.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.social__logo {
  color: #fdfbe7;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}


.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .05;
}
